:vars {
  --foreground: #e5e2e1;
  --background: #131313;
  --cursor: #e5e2e1;
  --primary: #c2c7c8;
  --on-primary: #2b3132;
  --secondary: #c6c6c7;
  --on-secondary: #2f3131;
  --tertiary: #cbc4cb;
  --on-tertiary: #332f34;
  --surface: #131313;
  --surface-bright: #393939;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8d9192;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #e8ffea;
  --green-dim: #b5ffbb;
  --yellow: #ffffff;
  --yellow-dim: #e6e6e6;
  --blue: #afc6ff;
  --blue-dim: #7ca2ff;
  --magenta: #eab2ff;
  --magenta-dim: #dc7fff;
  --cyan: #ffffff;
  --cyan-dim: #e6e6e6;
  --white: #ffffff;
}
